# Django settings
SECRET_KEY=your-secret-key
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# MySQL settings
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_HOST = db
MYSQL_PORT = 3306

# Users
ADMIN = "name@example.com"
ADMINPASS = 'choicenewpassword'
